* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.75px;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
  color: #444;
}

.product {
  width: 1400px;
  border: 5px solid #444;
  margin: 40px auto;
  position: relative;
}

/* .product div {
  padding: 4px;
} */

.main-header {
  font-weight: 600;
  font-size: 22px;
  background-color: #f8f8f8;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
}

/* Add margin to products on left side*/
.add-margin {
  margin-left: 4px;
}

.img {
  width: 820px;
  height: 820px;
  margin-bottom: 15px;
}

.item-price {
  font-weight: 500;
  font-size: 15px;
}

.free-shipping {
  text-transform: uppercase;
  color: #9b9b9b;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 7px;
}

.free-shipping::after {
  content: "Limited time deal";
  font-size: 10px;
  width: 140px;
  height: 20px;
  background-color: rgb(192, 1, 1);
  color: #f8f8f8;
  font-weight: bold;
  display: inline-block;
  padding: 5px 2px;
  position: absolute;
  left: -70px;
  top: -3px;
  border-radius: 6px; /* Soft, rounded corners */
  text-align: center;
  line-height: 20px;
  letter-spacing: 2px;
  transform: rotate(-45deg);
}

.item-description {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 15px;
  /* margin-top: 40px; */
}

.detail-description {
  font-size: 15px;
}

.item-list {
  list-style-type: square;
  margin-top: 10px;
}

.item-list li {
  margin-bottom: 8px;
  margin-left: 25px;
}

.item-list li:last-child {
  margin-bottom: 12px;
}

.product-information {
  margin-bottom: 16px;
}

.product-container {
  display: flex;
}

.product-details {
  flex: 0 1 820px;
  margin-right: 70px;
}

.item-price {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 200px;
  margin-bottom: 8px;
}

.price-title h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

.reviews {
  width: 160px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviews a:link {
  font-size: 12px;
  color: #9b9b9b;
  cursor: pointer;
}

.reviews a:visited {
  font-size: 12px;
  color: #9b9b9b;
}

.reviews a:hover {
  color: #b9b9b9;
}

.reviews a:active {
  color: #9b9b9b;
}

/* Link Visited Hover Active clubbed together */
.more-info {
  font-size: 14px;
  color: #9b9b9b;
  display: block;
  margin-bottom: 20px;
}

.more-info:hover {
  color: #b9b9b9;
}

.shoe-image {
  width: 70px;
  height: 70px;
  display: inline-block;
  margin-right: 10px;
}

.format-color {
  display: flex;
  gap: 48px;
  width: 120px;
  font-size: 14px;

  margin-top: -5px;
}

.bottom-border {
  border-bottom: 2px solid #b9b9b9;
  width: 445.63px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.size {
  display: block;
  font-size: 12px;
  text-align: right;
  color: #9b9b9b;
  margin-bottom: 25px;
}

.size:hover {
  color: #b9b9b9;
}

.pick-size {
  width: 445.63px;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  padding: 10px;
  border: 1px solid black;
  align-items: center;
  margin-bottom: 20px;
}

.first-element {
  margin-left: 5px;
}
.last-element {
  font-size: 25px;
  margin-left: auto;
  font-weight: normal;
  margin-right: 8px;
}

.selected-size {
  width: 445.63px;
  display: flex;
  font-size: 12px;
  align-items: center;
  margin-bottom: 8px;
}

.cart-actions {
  width: 445.63px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.btn-buy {
  font-size: 14px;
  font-weight: bold;
  /* letter-spacing: 1px; */
  color: #f8f8f8;
  background-color: black;
  text-transform: uppercase;
  flex: 0 1 190px;
  margin-right: 10px;
  padding: 8px;
}

.btn-buy:hover {
  background-color: #f8f8f8;
  color: #444;
}

.btn-add-to-cart {
  font-size: 14px;
  font-weight: bold;
  /* letter-spacing: 1px; */
  color: #f8f8f8;
  background-color: black;
  text-transform: uppercase;
  flex: 0 1 190px;
  margin-right: 10px;
  padding: 8px;
}

.btn-add-to-cart:hover {
  background-color: #f8f8f8;
  color: #444;
}

.btn-heart {
  color: #f8f8f8;
  background-color: black;
  font-size: 14px;
  flex: 0 1 100px;
  padding: 17px;
}

.btn-heart:hover {
  background-color: #f8f8f8;
  color: #444;
}

.share {
  font-size: 11px;
  color: #444;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #444;
  padding-bottom: 4px;
}

.delivery-date {
  font-size: 12px;
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 8px;
}

.pin-code {
  font-size: 12px;
  padding: 10px;
  border: 1px solid black;
  color: #9b9b9b;
}
